<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="app.component.css">
  <meta charset="UTF-8">
  <title>Tom Mangar, Software Engineer Extraordinaire!</title>
</head>
<body>
<div class="container">
  <div class="card section">
    <h1 class="main-title">Tom Mangar</h1>
    <p class="subtitle">Web Developer<a href="https://www.linkedin.com/in/tom-mangar-3a438580/"><img src="../assets/images/linkedin.svg" class="icon"></a></p>
    <p>
      A passionate, versatile, people-driven professional with an eye for the bigger picture, and the vision to create and design complex software solutions to meet all client needs.
    </p>

  </div>
  <div class="card section">
    <div class="header-card">
      <h2 class="header-card_title">TECHNICAL SKILLS</h2>
    </div>
    <h4>Languages & Frameworks</h4>
    <ul>
      <li>C#</li>
      <li>SQL</li>
      <li>HTML</li>
      <li>CSS</li>
      <li>JS/TypeScript</li>
      <li>AngularJS</li>
      <li>Angular</li>
    </ul>
    <h4>Technologies & Tools</h4>
    <ul>
      <li>Git</li>
      <li>NodeJS & NPM</li>
      <li>Azure</li>
      <li>JIRA</li>
      <li>AWS</li>
      <li>MS SQL Server</li>
    </ul>
    <h4>Principles and Ideologies</h4>
    <ul>
      <li>SOLID Principles</li>
      <li>Agile</li>
      <li>RESTful API</li>
    </ul>
  </div>
  <div class="timeline-container">
    <app-timeline></app-timeline>
  </div>
  <div class="card section">
    <div class="header-card">
      <h2 class="header-card_title">EDUCATION & QUALIFICATIONS</h2>
    </div>
    <h3>University of Derby - BSC Computer Games Programming 2015</h3>
    <p>
      This covered important programming and games designing fundamentals. It also included information on computer architecture and other key skills necessary to succeed as a programmer in any industry.
    </p>
    <h4>Other Qualifications</h4>
    <h5>Mental Health First Aid - St. John's Ambulance</h5>
    <p>
      Completed the Adult MHFA One Day course to become a Mental Health First Aid Chaampion, the course provided an understanding of common mental health issues and the skills to signpost people to support.
    </p>
  </div>
  <div class="card section">
    <div class="header-card">
      <h2 class="header-card_title">INTERESTS</h2>
    </div>
    <ul>
      <li>Tabletop RPGs</li>
      <li>Streaming & Gaming</li>
    </ul>
  </div>
  <div class="card section">
    <div class="header-card">
      <h2 class="header-card_title">PROJECTS?</h2>
    </div>
    <p>
      Maybe?
    </p>
  </div>
  <div class="card section">
    <p>
      References available on request.
    </p>
  </div>
</div>
</body>
</html>
