<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="app.component.css">
  <meta charset="UTF-8">
  <title>Tom Mangar, Software Engineer Extraordinaire!</title>
</head>
<body>
<div class="container">
  <div class="card section">
    <h1 class="main-title">Tom Mangar</h1>
    <p class="subtitle">Web Developer<a href="https://www.linkedin.com/in/tom-mangar-3a438580/"><img src="../assets/images/linkedin.svg" class="icon"></a></p>
    <p>
      A passionate, versatile, people-driven professional with an eye for the bigger picture, and the vision to create and design complex software solutions to meet all client needs.
    </p>

  </div>
  <div class="card section">
    <div class="header-card">
      <h2 class="header-card_title">TECHNICAL SKILLS</h2>
    </div>
    <h3>Languages & Frameworks</h3>
    <div class="technical-skills_container">
      <div class="technical-skills_block">
        <div class="technical-skills_logo-container"><img src="assets/images/skill-icons/c-sharp.png" alt="C Sharp" class="technical-skills_logo"></div>
        <div class="technical-skills_label">
          C#
        </div>
      </div>
      <div class="technical-skills_block">
        <div class="technical-skills_logo-container"><img src="assets/images/skill-icons/ts.png" alt="TypeScript" class="technical-skills_logo"></div>
        <div class="technical-skills_label">
          TypeScript
        </div>
      </div>
      <div class="technical-skills_block">
        <div class="technical-skills_logo-container"><img src="assets/images/skill-icons/JS.png" alt="JavaScript" class="technical-skills_logo"></div>
        <div class="technical-skills_label">
          JavaScript
        </div>
      </div>
      <div class="technical-skills_block">
        <div class="technical-skills_logo-container"><img src="assets/images/skill-icons/html5.png" alt="HTML 5" class="technical-skills_logo"></div>
        <div class="technical-skills_label">
          HTML 5
        </div>
      </div>
      <div class="technical-skills_block">
        <div class="technical-skills_logo-container"><img src="assets/images/skill-icons/css3.svg" alt="CSS 3" class="technical-skills_logo"></div>
        <div class="technical-skills_label">
          CSS 3
        </div>
      </div>
      <div class="technical-skills_block">
        <div class="technical-skills_logo-container"><img src="assets/images/skill-icons/angular.png" alt="Angular" class="technical-skills_logo"></div>
        <div class="technical-skills_label">
          Angular
        </div>
      </div>
      <div class="technical-skills_block">
        <div class="technical-skills_logo-container"><img src="assets/images/skill-icons/angularJS.svg" alt="AngularJS" class="technical-skills_logo"></div>
        <div class="technical-skills_label">
          AngularJS
        </div>
      </div>
      <div class="technical-skills_block">
        <div class="technical-skills_logo-container"><img src="assets/images/skill-icons/sql.png" alt="SQL" class="technical-skills_logo"></div>
        <div class="technical-skills_label">
          SQL
        </div>
      </div>


      <!--      <div class="technical-skills_block">-->
      <!--        <h4>Principles and Ideologies</h4>-->
      <!--        <ul>-->
      <!--          <li>SOLID Principles</li>-->
      <!--          <li>Agile</li>-->
      <!--          <li>RESTful API</li>-->
      <!--        </ul>-->
      <!--      </div>-->
    </div>
    <h3>Technologies & Tools</h3>
    <div class="technical-skills_container">
      <div class="technical-skills_block">
        <div class="technical-skills_logo-container"><img src="assets/images/skill-icons/Git-Icon-1788C.png" alt="Git" class="technical-skills_logo"></div>
        <div class="technical-skills_label">
          Git
        </div>
      </div>
      <div class="technical-skills_block">
        <div class="technical-skills_logo-container"><img src="assets/images/skill-icons/nodeJs.png" alt="NodeJS" class="technical-skills_logo"></div>
        <div class="technical-skills_label">
          NodeJS
        </div>
      </div>
      <div class="technical-skills_block">
        <div class="technical-skills_logo-container"><img src="assets/images/skill-icons/devops.png" alt="Azure Devops" class="technical-skills_logo"></div>
        <div class="technical-skills_label">
          Azure Devops
        </div>
      </div>
      <div class="technical-skills_block">
        <div class="technical-skills_logo-container"><img src="assets/images/skill-icons/Jira_logo.png" alt="Jira" class="technical-skills_logo"></div>
        <div class="technical-skills_label">
          Jira
        </div>
      </div>
      <div class="technical-skills_block">
        <div class="technical-skills_logo-container"><img src="assets/images/skill-icons/aws.png" alt="Amazon Web Services" class="technical-skills_logo"></div>
        <div class="technical-skills_label">
          AWS
        </div>
      </div>
    </div>
    <h3>Principles and Ideologies</h3>
    <div class="technical-skills_container">
      <div class="technical-skills_block">
        <div class="technical-skills_logo-container"><img src="assets/images/skill-icons/solid.png" alt="SOLID Principles" class="technical-skills_logo"></div>
        <div class="technical-skills_label">
          SOLID Principles
        </div>
      </div>
      <div class="technical-skills_block">
        <div class="technical-skills_logo-container"><img src="assets/images/skill-icons/agile.png" alt="Agile" class="technical-skills_logo"></div>
        <div class="technical-skills_label">
          Agile
        </div>
      </div>
      <div class="technical-skills_block">
        <div class="technical-skills_logo-container"><img src="assets/images/skill-icons/restful.png" alt="RESTful API" class="technical-skills_logo"></div>
        <div class="technical-skills_label">
          RESTful API
        </div>
      </div>
    </div>
  </div>
  <div class="timeline-container">
    <app-timeline></app-timeline>
  </div>
  <div class="card section">
    <div class="header-card">
      <h2 class="header-card_title">EDUCATION & QUALIFICATIONS</h2>
    </div>
    <h3>University of Derby - BSC Computer Games Programming 2015</h3>
    <p>
      This covered important programming and games designing fundamentals. It also included information on computer architecture and other key skills necessary to succeed as a programmer in any industry.
    </p>
    <h4>Other Qualifications</h4>
    <h5>Mental Health First Aid - St. John's Ambulance</h5>
    <p>
      Completed the Adult MHFA One Day course to become a Mental Health First Aid Chaampion, the course provided an understanding of common mental health issues and the skills to signpost people to support.
    </p>
  </div>
  <div class="section">
    <div class="header-card">
      <h2 class="header-card_title">INTERESTS</h2>
    </div>
    <div class="interests_container">
      <div class="interests_small-card">
        <div class="interests_logo-container"><img class="interests_logo" src="assets/images/interest-icons/dice-twenty-faces-twenty.png" alt="Tabletop RPGs"></div>
        <div class="interests_text">Tabletop RPGs</div>
      </div>
      <div class="interests_small-card">
        <div class="interests_logo-container"><img class="interests_logo" src="assets/images/interest-icons/streaming.png" alt="Streaming"></div>
        <div class="interests_text">Streaming</div>
      </div>
      <div class="interests_small-card">
        <div class="interests_logo-container"><img class="interests_logo" src="assets/images/interest-icons/LOL.png" alt="League of Legends"></div>
        <div class="interests_text">League of Legends</div>
      </div>
    </div>
  </div>
  <div class="card section">
    <div class="header-card">
      <h2 class="header-card_title">PROJECTS?</h2>
    </div>
    <p>
      Maybe?
    </p>
  </div>
  <div class="card section">
    <p>
      References available on request.
    </p>
  </div>
</div>
</body>
</html>
