body {
  font-family: Roboto, serif;
  background-color: lightgray;
  min-width: 440px;
}
.container {
  display: grid;
  grid-template-columns: 20px 1fr 1fr 1fr 1fr 1fr 1fr 20px;
  overflow-x: scroll;
  min-width: 440px;
}

.section {
  margin-bottom: 30px;
  grid-column: 2/8;
}

.card:first-of-type {
  margin-top: 20px;
}

.card {
  padding: 20px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.15), 0 2px 10px 0 rgba(0,0,0,0.11);
  background-color: white;
  min-width: 400px;
}

.header-card {
  background-color: #00A0E9;
  padding: 5px;
  width: fit-content;
  position: relative;
  bottom: 32px;
  left: 10px;
  box-shadow: 3px 3px 8px rgba(0,0,0,.4);
}

.header-card_title {
  color: white;
  margin: 5px;
}

.main-title {
  font-size: 72px;
  font-weight: bolder;
  margin-bottom: 5px;
  margin-top: 20px;
}

.subtitle {
  font-size: 14px;
  font-weight: bold;
  color: darkgrey;
  margin-top: 0;
  margin-bottom: 60px;
}

.icon {
  position: relative;
  top: 10px;
  left: 35px;
  height: 50px;
  width: 50px;
}

.timeline-container {
  grid-column: 2/8;
  margin-bottom: 40px;
}

.timeline-header {
  padding-left: 25px;
  position: relative;
  bottom: -32px;
}

@font-face {
  font-family: Roboto;
  src: url(RobotoSlab-VariableFont_wght.woff);
}

h3 {
  margin-top: 0;
}

.technical-skills_block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.technical-skills_logo-container {
  height: 150px;
  width: 150px;
}

.technical-skills_logo {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.technical-skills_label {
  text-align: center;
}

.technical-skills_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-rows: 200px;
  gap: 10px;
}

.interests_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
}

.interests_small-card {
  padding: 20px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.15), 0 2px 10px 0 rgba(0,0,0,0.11);
  min-width: 100px;
  background-color: white;
  display: inline-grid;
  justify-content: center;
  align-items: center;
}

.interests_logo-container {
  height: 150px;
  width: 150px;
}

.interests_logo {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.interests_text {
  text-align: center;
}

@media (min-device-width: 600px) {
  .card:first-of-type {
    margin-top: 100px;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .timeline-container {
    grid-column: 2/8;
    margin-bottom: 40px;
  }

  .card {
    padding: 20px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.15), 0 2px 10px 0 rgba(0,0,0,0.11);
    min-width: 100px;
    grid-column: 2/8;
    background-color: white;
  }

  .section {
    margin-bottom: 40px;
  }

  .technical-skills_block {
    display: inline-grid;
    align-items: start;
    justify-content: center;
    margin-right: 10px;
  }

  .technical-skills_block > ul {
    font-size: 20px;
  }
}
