<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="app.component.css">
  <meta charset="UTF-8">
  <title>Tom Mangar, Software Engineer Extraordinaire!</title>
</head>
<body>
<div class="container">
  <div class="card section">
    <h1 class="main-title">Tom Mangar</h1>
    <p class="subtitle">Web Developer<a href="https://www.linkedin.com/in/tom-mangar-3a438580/"><img src="../assets/images/linkedin.svg" class="icon"></a></p>
    <p>
      A passionate, versatile, people-driven professional with an eye for the bigger picture, and the vision to create and design complex software solutions to meet all client needs.
    </p>

  </div>
  <div class="card section">
    <div class="header-card">
      <h2 class="header-card_title">TECHNICAL SKILLS</h2>
    </div>
    <ul>
      <li>C#</li>
      <li>SQL</li>
      <li>MS SQL Server</li>
      <li>HTML</li>
      <li>CSS</li>
      <li>JS/TypeScript</li>
      <li>AngularJS</li>
      <li>Angular</li>
      <li>SOLID Principles</li>
      <li>Agile</li>
      <li>RESTful API</li>
      <li>Git</li>
      <li>NodeJS & NPM</li>
      <li>Azure</li>
      <li>JIRA</li>
      <li>AWS</li>
    </ul>
  </div>
  <div class="timeline">
    <div class="timeline-container left">
      <div class="timeline-content">
        <h2 class="header-card_title">WORK EXPERIENCE</h2>
        <h3>Full-Stack Software Engineer | ENSEK May 2019 - Present</h3>
        <ul>
          <li>Developing and maintaining bespoke client websites from branding guidelines.</li>
          <li>Creating and maintaining back-end solutions and integrating with AWS microservices.</li>
          <li>Internationalisation of our clients’ websites to enable growth and expansion into the international market.</li>
          <li>Responsible for adhering to SOLID principles, writing clean code and ensuring that these ideals are maintained across the code base through peer reviews.</li>
          <li>Working with Product Owners and Business Analysts to size and refine work items to help facilitate confident commitments to sprints.</li>
          <li>Assisting with deployments for UAT and addressing any issues found during testing.</li>
        </ul>
      </div>
    </div>
    <div class="timeline-container right">
      <div class="timeline-content">
        <h3>Software Engineer | PAREXEL Aug 2015 - May 2019</h3>
        <ul>
          <li>Actively engaged with the client and Client Services to deliver high profile, new technological solutions for clients allowing them to integrate new processes to reduce drug wastage and introduce complex medication temperature tracking, in addition to delivering multiple
            complex
            projects.
          </li>
          <li>Continued to support the Client Services team throughout all stages of project lifespan, including participating in client meetings and UAT (user acceptance testing).</li>
          <li>Worked with both Solutions Designers and Project Managers to maintain a high quality and consistent approach to project design across multiple projects using similar, complex bespoke functionality.</li>
          <li>Identified gaps in and led initiatives to eliminate the weaknesses from existing internal processes. Worked to roll out these initiatives, create supporting documentation and resources which continue to be used by Software Engineers within the department.</li>
          <li>Constantly manage time-sensitive projects with changeable priorities and delivery dates in a proactive manner.</li>
          <li>Maintained a positive and friendly attitude in difficult situations, including delivering difficult feedback to the Client Services team which would have consequences in client communications and relationships.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card section">
    <div class="header-card">
      <h2 class="header-card_title">EDUCATION & QUALIFICATIONS</h2>
    </div>
    <h3>University of Derby - BSC Computer Games Programming 2015</h3>
    <p>
      This covered important programming and games designing fundamentals. It also included information on computer architecture and other key skills necessary to succeed as a programmer in any industry.
    </p>
  </div>
  <div class="card section">
    <p>
      References available on request.
    </p>
  </div>
</div>
</body>
</html>
